@import '../../../styles/colors.scss';

.home-end {
  height: 100vh;
  width: 100%;
  margin: 0;

  .home-end-container {
    height: 100%;
    width: 100%;
	margin: 0;

	.home-discord-container-text {
		position: relative;
		height: 100%;
		width: 100%;
		background-color: $light;
		color: $dark;
		z-index: 3;
		box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.5);
		
		.home-discord-container-text-content {
			width: 90%;
			background-color: $light;
			color: $dark;
			padding: 0 $viewport-padding;
			
			
			.title {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem 0;
				color: $dark;
			}
			
			.text {
				max-width: 70%;
				font-size: 1.2rem;
				margin-bottom: 1rem;
				font-weight: 300;
				color: $grey;
			}

			.discord-button {
				display: inline-flex;
				align-items: center;

				background-color: $discord;
				color: $light;
				margin: 1rem 0;
				padding: 16px 32px; /* Adjust this padding to get the desired width relative to text */
				
				text-align: center;
				text-decoration: none;
				font-size: 1rem;
				font-weight: 500;
				
				cursor: pointer;
				transition: background-color 0.3s ease, color 0.3s ease;

				border-radius: 10px;
				border-color: $discord;
				border-width: 2px;
			}
			
			.discord-button:hover {
				background-color: $light; /* On hover, make the background white */
				color: $discord; /* On hover, make the text Discord's brand color */
			}
		}
	}

	.home-end-container-scene {
		position: relative; // This allows child elements with absolute positioning to be positioned relative to this container
		height: 100%;
		width: 100%;
		background: linear-gradient(0.25turn, $discord, $paypal);
		z-index: 2;
	}

	.home-donate-container-text {
		position: relative;
		height: 100%;
		width: 100%;
		background-color: $light;
		color: $dark;
		z-index: 3;
		box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.5);
		display: flex;
		justify-content: flex-end;
		
		.home-donate-container-text-content {
			width: 90%;
			background-color: $light;
			color: $dark;
			padding: 0 $viewport-padding;
			text-align: right;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			
			
			.title {
				font-size: 2rem;
				font-weight: bold;
				margin: 1rem 0;
				color: $dark;
			}
			
			.text {
				max-width: 70%;
				font-size: 1.2rem;
				margin-bottom: 1rem;
				font-weight: 300;
				color: $grey;
			}

			.donate-button {
				display: inline-flex;
				align-items: center;

				background-color: $paypal;
				color: $light;
				margin: 1rem 0;
				padding: 16px 32px; /* Adjust this padding to get the desired width relative to text */
				
				text-align: center;
				text-decoration: none;
				font-size: 1rem;
				font-weight: 500;
				
				cursor: pointer;
				transition: background-color 0.3s ease, color 0.3s ease;

				border-radius: 10px;
				border-color: $paypal;
				border-width: 2px;
			}
			
			.donate-button:hover {
				background-color: $light; /* On hover, make the background white */
				color: $paypal; /* On hover, make the text Discord's brand color */
			}
		}
	}
  }
}
