body {
    padding: 0;
    margin: 0;
    position: relative; /* Allows for absolute positioning within */
    background-color: #FFBB5D;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(86, 86, 86);
}

spline-viewer {
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed; /* Places viewer on top of other content */
    z-index: -1; /* Places viewer below all other content */
    pointer-events: none; /* Disables interactions */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    height: 2.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-icons, .dropdown {
    display: flex;
    align-items: center;
}

.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 1em;
}

.icon-button img {
    width: 2em;
    height: 2em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    height: 2.5em;
}

.landing-section {
    width: 60%;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    clip-path: polygon(0 0, 100% 0, 60% 50%, 100% 100%, 0 100%);
    z-index: -1;
}

.landing {
    width: 45%;
    padding: 0 3rem;
}


.about-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.about {
    width: 35%;
    padding: 0 20px;
    text-align: right;
}

.team-section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.team {
    width: 35%;
    padding: 0 20px;
}

.join-section {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: right;
}

.join {
    width: 35%;
    padding: 0 20px;
    text-align: right;
}

.discord-button {
    background-color: #7289da; /* Discord's brand color */
    border: none;
    color: white; /* Text color */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.discord-button:hover {
    background-color: white; /* On hover, make the background white */
    color: #7289da; /* On hover, make the text Discord's brand color */
}
