@import '../../../styles/colors.scss';

.menu-sidemenu {
    width: 25%; /* Adjust as needed */
    height: 100%;
    padding: 20px;
    background-color: aqua;
    border-right: 1px solid #ccc;
    position: fixed;
}
  