/* ############### GENERAL STYLE ############### */

body {
    padding: 0;
    margin: 0;
    position: relative; /* Allows for absolute positioning within */
    font-family: 'poppins', sans-serif;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
}

p {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: #565656;
}



/* ############### NAVBAR STYLES ############### */



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #53BDBA;
    position: fixed;
    width: 100%;
    padding: 1rem 4rem;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.3);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-icons, .right-icons {
    display: flex;
    align-items: stretch;
}

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}


.dropbtn {
    color: #fff;
    background-color: #ffaf38; 
}

.donate {
    color: #fff;
    background-color: #30aae3;
}

.discord {
    color: #fff;
    background-color: #7289da;
    margin-right: 1rem;
}

.icon-button:hover {
    background-color: #ffffff;
    color: #808080;
}

.left-icons .icon-button i {
    margin-left: 10px;  
}

.right-icons .icon-button i {
    margin-right: 10px;  
}

.dropdown-content {
    max-height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 1rem 4rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-content.show {
    max-height: 500px; /* adjust this value to fit your content */
    opacity: 1;
}


/* ############### LANDING STYLES ############### */
spline-viewer {
    background-color: #FFBB5D;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: absolute; /* Places viewer on top of other content */
    z-index: -1; /* Places viewer below all other content */
    pointer-events: none; /* Disables interactions */
}

.landing-shadow {
    filter: drop-shadow(30px 0px 8px rgba(0, 0, 0, 0.3));
}

.landing-section {
    width: 100%;
}

.landing-div {
    background-color: #FFEED5;
    height: 100vh;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 60% 50%, 100% 100%, 0 100%);
    display: flex;
    align-items: center;
    
}

.landing-content {
    width: 45%;
    padding: 0 4rem;
}

.discord-button {
    background-color: #7289da; /* Discord's brand color */
    display: inline-flex;  /* Added this line */
    align-items: center;
    border: none;
    color: white; /* Text color */
    margin: 1rem 0;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

.discord-button:hover {
    background-color: white; /* On hover, make the background white */
    color: #7289da; /* On hover, make the text Discord's brand color */
}

.discord-button i {
    font-size: 32px;
    margin-right: 16px;
}





/* ############### ABOUT STYLES ############### */

.about-section {
    width: 100%;
    background-color: #8BD3D3;
    display: flex;
    justify-content: right;
    height: 100vh;
}

.about-shadow {
    filter: drop-shadow(-20px 0px 8px rgba(0, 0, 0, 0.3));
    width: 100%;
    display: flex;
    justify-content: right;
    height: 100vh;
}

.about-div {
    background-color: #36A6A3;
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: right;
    clip-path: ellipse(60% 80% at 80% 50%);
}

.about-content h1 {
    color: #fafafa;
}

.about-content p {
    color: #eeeeee;
}

.about-content {
    width: 45%;
    padding: 0 4rem;
    text-align: right;
}




/* ############### TEAM STYLES ############### */

.team-section {
    height: 100vh;
    width: 100%;
    background-color: #82c3ff;
    display: flex;
    flex-direction: column;  /* This stacks the two divs vertically */
}

.team-placeholder-team {
    height: 50%;
    display: flex;
    align-items: center;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.3));
}

.team-placeholder-join {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    filter: drop-shadow(20px 20px 8px rgba(0, 0, 0, 0.3));
}


.team-div-team {
    background-color: #30aae3;
    width: 40%;  /* Full width */
    height: 70%;
    display: flex;
    align-items: center;  /* Aligns the text vertically in the middle */
    justify-content: left;  /* Aligns the text to the left */
    padding-left: 4rem;  /* Optional: for some padding on the left */
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.team-div-join {
    background-color: #30aae3;
    width: 40%;  /* Full width */
    height: 70%;
    display: flex;
    align-items: center;  /* Aligns the text vertically in the middle */
    justify-content: right;  /* Aligns the text to the right */
    padding-right: 4rem;  /* Optional: for some padding on the right */
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.team-content-join {
    text-align: right;
}



/* ############### LINKS STYLES ############### */
.links-section {
    height: 100vh;
    background-color: #7289da;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-columns {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links-div-discord {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6755d2;
    clip-path: circle(30% at 50% 50%);
}

.links-div-donation {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6755d2;
    clip-path: circle(30% at 50% 50%);
}

.links-div-or {
    position: absolute;
}

/* ############### FOOTERS STYLES ############### */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    text-align: center;
}

.footer p{
    font-size: 1rem;
    font-weight: 400;
    color: #d1d1d1;
    text-align: center;
    margin: 0;
    padding: 0;
}


