.menu-container {
    display: flex;
    justify-content: space-between;
    background-color: bisque;
}
  
.nav-space {
   height: 3em;
}
  
.blocks-container {
    width: 75%; /* Adjust as needed */
    padding: 20px;
}